* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

header {
    background-color: #666;
    padding: 0px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/*iPad-Layout*/
img-container {
    float: left;                                        
     width: 150px;

  height: 200px;

  background-color: #d8d8d8;
  margin-top: 28px;
	margin-left: 28px;
	
}


img-container ul {
    list-style-type: none;
    padding: 0;
}

stories-bg {
    float: left;
  width: 188.5px;

  height: 200px;

  background-color: #ffffff;
  margin-top: 28px;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.Rectangle-16 {

  width: 384px;

  height: 131.5px;

  background-color: #eeedef;


}
.iPad-Layout {
 border:1px solid black; 
  width: 384px;

  height: 512px;

}
.The-real-reasons-why {

  width: 106px;

  height: 39.4px;
 X:190.5px;
 Y:46px;
 font-size:10px;
 margin-left: 12.5px;
 float: left;

}

.How-Motherly-Uses-Pe {

  width: 106px;

  height: 29.5px;
   X:190.5px;
 Y:113.5px;
 font-size:10px;
 margin-left: 12.5px;
 margin-top:3.4px;
 float: left;
}

.Fixing-email-overloa {

  width: 106px;

  height: 29.5px;
   X:190.5px;
 Y:181px;
 font-size:10px;
 margin-left: 12.5px;
 margin-top:3.5px;
  float: left;
}

.img {

  width: 50px;

  height: 37.5px;

  background-color: #d8d8d8;
margin-left:127px;


}

.headline-content {

  width: 142.5px;

  height: 40px;

margin-top:188.5px;
 background-color: #ffffff;


}
.Ad-Blockers-Setback {

  width: 142.5px;

  height: 37.5px;
font-size:12px;
color:#0165a7;
}

.headline-border {

  width: 142.5px;

  height: 5px;

  background-color: #0165a7;

}


/*Desktop-Layout*/
.Desktop-Layout {
  border:1px solid black;
  width: 600px;
  height: 512px;
}
.Rectangle-161 {
  width: 600px;
  height: 100px;
  background-color: #eeedef;
  
}
img-container1 {
    float: left;                                        
     width: 200px;

  height: 265.5px;

  background-color: #d8d8d8;
  margin-top: 50.5px;
  margin-left: 74px;
  
}
img-container1 ul {
    list-style-type: none;
    padding: 0;
}


.headline-content1 {

  width: 200px;

  height: 60px;

margin-top:43px;
margin-left:100px;
 background-color: #ffffff;
}

.Ad-Blockers-Setback1 {

  width: 200px;

  height: 45px;
font-size:12px;
color:#0165a7;
}

.headline-border1 {

  width: 200px;

  height: 10px;

  background-color: #0165a7;
  margin-left:100px;
  margin-top: -13px;
}
.The-real-reasons-why1 {

  width: 76px;

  height: 72px;
 font-size:10px;
 margin-left: 15.5px;
 margin-top: 164px;
 float: left;

}
.How-Motherly-Uses-Pe1 {

  width: 80px;

  height: 60px;
 font-size:10px;
 margin-left: 18.5px;
 margin-top: 164px;
 float: left;
}
.Fixing-email-overloa1 {

  width: 76px;

  height: 60px;
 font-size:10px;
 margin-left: 8.5px;
 margin-top: 164px;
  float: left;
}
.img-containerdesk1 {

width: 80px;
height: 60px;

background-color: #d8d8d8;

 font-size:10px;
 margin-left: 15.5px;
 margin-top: 18px;
 float: left;
}


.img-containerdesk2 {
  width: 80px;
height: 60px;
float: left;
background-color: #d8d8d8;
 
margin-left: 209px;
 margin-top: 90px;
}

/* Phone Layout*/
.headline-content2 {
 width: 160px;

  height: 40px;

  background-color: #ffffff;

margin-top:44.5px;
margin-left:45px;
float: left;

}

.Ad-Blockers-Setback2 {
    width: 122px;

  height: 33px;
font-size:10px;
color:blue;
float: left;
}


.headline-border2 {
   width: 142.5px;

  height: 2.5px;

  background-color: #0165a7;

 
  margin-left:45px;
  margin-top: -18px;
  float: left;
}



.Phone-Layout {
  border:1px solid black;

  width: 187.5px;

  height: 333.5px;

}



.Rectangle-162 {

  width: 187.5px;

  height: 105px;

  background-color: #d8d8d8;



}

.The-real-reasons-why2 {

  width: 106px;

  height: 39.4px;
 font-size:8px;
 margin-left: 10px;
 margin-top: 9.5px;
 float: left;

}

.How-Motherly-Uses-Pe2 {

  width: 106px;

  height: 29.5px;

 font-size:8px;
 margin-left: 10px;
 margin-top: 9.5px;
 float: left;
}
.Fixing-email-overloa2 {

   width: 106px;

  height: 29.5px;;
  
 font-size:8px;
 margin-left: 10px;
 margin-top: 9.5px;
  float: left;
}
.img-containerphone1 {

  width: 50px;

  height: 37.5px;

background-color: #d8d8d8;

 font-size:10px;
 margin-left: 11.5px;
 margin-top: 9.5px;
 float: left;
}

@media (max-width: 600px) {
    img-container,img-container1,Rectangle-162, stories-bg {
        width: 100%;
        height: auto;
    }
}